/* always present */
.map-expand-transition {
    transition: all .3s ease;
    width: 100%;
    height: 400px;
    background-color: #eee;
    overflow: hidden;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.map-expand-enter, .map-expand-leave {
    height: 0;
    opacity: 0;
}